html,
body {
  color: white;
  font-family: "Amatic SC", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

#spook-panel {
  background: #272727;
  border: 1px solid black;
  border-radius: 2px;
  height: 80px;
  margin-top: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#heart-rate-container {
  width: 10%;
}

#heart-rate-graph {
  width: 80%;
  position: relative;
  height: 100%;
}

#heart-rate-scares {
  width: 10%;
}

#ghost {
  overflow: hidden;
}

#ghost-image {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  transform: rotate(-155deg);
  cursor: pointer;
  z-index: 1;
}

#ghost-image.hover {
  top: 3px;
  right: 3px;
  transition: all 0.5s;
  transform: rotate(0deg);
}

#ghost-image.hoverout {
  transition: all 0.5s;
}

#ghost-message {
  font-size: 24px;
  position: absolute;
  transition: all 0.5s;
  top: 10px;
  right: -300px;
  padding: 3px 15px;
  background: #272727;
  border-radius: 10px;
  border: 1px solid black;
}

#ghost-message.hover {
  right: 50px;
}
